[Desktop Entry]
Name=XPL
GenericName=XPS Spectrum Analysis
Exec=gxps
Terminal=false
Type=Application
Icon=xpl.svg
StartupNotify=false
Name[en_US]=com.github.schachmett.gxps.desktop
